spring:
  application:
    name: BusTicketReservationSystem
  devtools:
    restart:
      log-condition-evaluation-delta: false

  datasource:
    url: jdbc:postgresql://localhost:5432/busticketreservationsystem
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8001


